

@model DownloadCourseDocumentViewModel

@{
    ViewData["Title"] = "Download course document";
}

<h1>@ViewData["Title"]</h1>

<h4>Document for @Model.Course.Name</h4>
<hr />

<div class="row row-course-documents">
    <ul>
        @foreach (var doc in Model.DocumentList)
        {
            <li>
                <a href="@doc.FilePath">@doc.Name</a>
            </li>
        }
    </ul>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

