@model DownloadModuleDocumentViewModel

@{
    ViewData["Title"] = "Download module document";
}

<h1>@ViewData["Title"]</h1>

<h4>Documents for @Model.Name</h4>
<hr />

<div class="row custom-file">
        
    @foreach (var doc in Model.DocumentList)
    {
    <li>
        <a href="@doc.FilePath">@doc.FilePath</a>
    </li>
        
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
