@model UploadActivityDocumentViewModel
@inject ISelectService service

@{
    ViewData["Title"] = "Upload Activity Document";
}

<script>
    function validateForm() {
        var x = document.forms["uploadForm"]["file"].value;
        if (x == "") {
            alert("Please upload a document");
            return false;
        }
    }
</script>



<h4>Upload Activity Document for @Model.Course.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form name="uploadForm" asp-action="UploadActivityDoc" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label for="Document">Document</label>
            <div class="form-group custom-file" style="margin-bottom:10px">
                <label class="custom-file-label control-label" for="customFile">Choose file</label>
                <input type="file" class="custom-file-input form-control" id="customFile" name="file">
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <!--These are hidden, needs to be for it to work in Controller-->
            <div class="form-group" hidden="hidden">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" asp-items="@await service.SelectedModule(Model.Module.Id)" class="form-control"></select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="ActivityId" asp-items="@await service.SelectedActivity(Model.Activity.Id)" class="form-control"></select>
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="AppUsers" asp-action="Teacher" asp-route-id="@Model.Course.Id">Go Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}