/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body header .navbar {
    background: #dbdbdb !important;
    border-bottom: 1px solid #666 !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a:hover {
        text-decoration: none; /* No link underline */
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 75px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */ /*Done! //Stefan*/
    background: #dbdbdb; /* Grey */
    border-top: 1px solid #666 !important;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 0.6em;
}

.container h2 {
    text-align: center;
    margin: 0.6em 0;
}

#col-modal {
    text-align: center;
    margin-top: -12px;
    margin-bottom: 1.5em;
}

thead {
    background: white;
    border-bottom: 3px solid #666;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
}

/****************************** Container *************************************/
.container.cont-section {
    background: #dbdbdb;
    padding-bottom: 1em;
    margin-top: 2em;
}

.container.cont-section,
.card {
    border: 1px solid #666;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
}

/*.container h2 {
    text-align: center;
    margin: 0.5em 0;
}*/

i.material-icons {
    font-size: 36px;
    top: 12px;
    position: relative;
}

/******************************* Card ****************************************/
.card {
    margin-bottom: 10px;
}

#card-mod-act h5 {
    margin-bottom: 0;
}

div#card-mod-act.card div.card-body {
    text-align: center;
}

#card-hand-ins .card-title,
.ass-col {
    text-align: center;
}

#card-hand-ins .card-title {
    font-weight: bold;
}

#card-mod-act .play-icon {
    font-size: 23px;
    top: 7px;
}

#ass-head-row,
#activity-header-row {
    font-weight: bold;
}

#ass-finished {
    text-align: center;
}

.material-icons.checkbox-ass {
    top: -4px;
    font-size: 32px;
}

#courseDescModal .modal-header,
#courseDescModal .modal-footer {
    background: #dbdbdb;
}

.btn-dark,
.btn-success {
    border-radius: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.row-modules {
    margin-top: 1em;
    margin-right: 0.1em;
}

#col-activities {
    height: 100%;
    background: white;
    padding-bottom: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: #28a745;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
}

#col-activities .row {
    margin-top: 0.8em;
}
