<!--Use this for Log in Page-->
@{
    ViewData["Title"] = "Log In";
}

<h2>Welcome to Lexicon LMS</h2>

<div class="lpcontent">
    <div class="row text-center">
        <div class="col d-flex justify-content-center">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><img id="loginicon" src="/icons/login.svg" alt="Alternate Text" /></a>

        </div>
    </div>
    <div class="row text-center">
        <div class="col d-flex justify-content-center">

            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><h3>Log In</h3></a>
        </div>
    </div>
</div>


