@model StudentViewModel

@{
    ViewData["Title"] = "Student";
}

<!--Current-->
<partial name="StudentCurrentPartial" model="@Model.CurrentViewModel" />

<!--Modules and Activities-->
<partial name="StudentModuleAndActivityPartial" model="@Model" />

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-assignments">
        <div class="col-sm-12">
            <partial name="StudentAssignmentListPartial" model="@Model.AssignmentList" />
        </div>
    </div>
</div>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    //$(document).ready(function () {
        itemClickEvent()   
    //});

    function itemClickEvent() {
        console.log("Test doc read");////////////////////
        $('.btn-module').click(function () {
            console.log("Test 222");/////////////////////
            $('.btn-module').each(function () {
                console.log("Test 333");///////////////////
                $(this).css("margin-left", "0");
            });

            $('#col-activities').hide();
            $(this).animate({ "margin-left": '1em' });
            $('#col-activities').slideDown("medium");
        });   
    }
</script>*@
