@model StudentViewModel

@{
    ViewData["Title"] = "Student";
}

<!--Current-->
<partial name="StudentCurrentPartial" model="@Model.CurrentViewModel" />

<!--Modules and Activities-->
<div class="container cont-section" id="modules">
    <div class="row row-modules">
        <div class="col-sm-6">
            <partial name="StudentModuleListPartial" model="@Model.ModuleList" />
        </div>
        <div  id="col-activities" class="col-sm-6">
            <partial name="StudentActivityListPartial" model="@Model.ActivityList" />
        </div>
    </div>
</div>

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-assignments">
        <div class="col-sm-12">
            <partial name="StudentAssignmentListPartial" model="@Model.AssignmentList" />
        </div>
    </div>
</div>

