@model StudentViewModel

@{
    ViewData["Title"] = "Student";
}

<!--Current-->
<partial name="StudentCurrentPartial" model="@Model.CurrentViewModel" />

<!--Modules and Activities-->
<partial name="StudentModuleAndActivityPartial" model="@Model" />

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-assignments">
        <div class="col-sm-12">
            <partial name="StudentAssignmentListPartial" model="@Model.AssignmentList" />
        </div>
    </div>
</div>
