@model TeacherViewModel

<div class="container cont-section" id="cont-modules-and-activities">
    <!--Modules and Activities-->
    <div class="row row-modules">
        <div id="col-modules" class="col-sm-3 text-center">
            <partial name="TeacherModulePartial" model="@Model.ModuleList" />
            @*<a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Course.Id">
                <img src="~/icons/plus.svg" style="width:7rem;">
            </a>*@
        </div>
        <div id="col-activities" class="col-sm-9">
            <partial name="TeacherActivityPartial" model="@Model.ActivityList" />
        </div>
    </div>
</div>