@model TeacherHomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-controller="Courses"asp-action="Create">Create New Course</a>
</p>

<!--Courses-->
<div class="container cont-section">
    <partial name="TeacherCourseListPartial" model="@Model.Courses" />
</div>

