@model IEnumerable<LexiconLMS.Models.ViewModels.AppUserListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Students</h2>
<table class="table">
    <partial name="StudentListPartial" />
</table>

<h2>Teachers</h2>

<table class="table">
    <partial name="TeacherListPartial" />
</table>
