@model TeacherViewModel

@{
    ViewData["Title"] = "Teacher";
}

<!--Current-->
<div class="container cont-section" id="current">
    <div class="row row-activities">
        <div class="col-sm-12">
            <partial name="TeacherCurrentPartial" model="@Model.TeacherCurrentViewModel" />
        </div>
    </div>
</div>

<!--Modules and Activities-->
<partial name="TeacherModuleAndActivityPartial" model="@Model" />

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-activities">
        <div class="col-sm-12">
            @if (Model.Course.Modules != null)
            {
                <partial name="TeacherAssignmentPartial" model="@Model.AssignmentList" />
            }
            <a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Course.Id">Add assignments</a>
        </div>
    </div>
</div>
