@model TeacherHomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<div id="row-add-course" class="row justify-content-center">
    <a asp-controller="Courses" asp-action="Create" id="btn-teacher-add-assignment" class="btn btn-primary"><i class="material-icons">add</i>Create New Course</a>
</div>

<!--Courses-->
<div class="container cont-section">
    <partial name="TeacherCourseListPartial" model="@Model.Courses" />
</div>

