@model TeacherViewModel

@{
    ViewData["Title"] = "Teacher";
}

<!--Current-->
<div class="container cont-section" id="current">
    <div class="row row-activities">
        <div class="col-sm-12">
            <partial name="TeacherCurrentPartial" model="@Model.Current" />
        </div>
    </div>
</div>

<!--Modules and Activities-->
@if (Model.ModuleList != null)
{
    <div id="div-add-module">
        <a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Current.Course.Id">
            <img id="add-module-icon" class="icon-img" src="~/icons/plus.svg" />
            Add module
        </a>
    </div>

    <partial name="TeacherModuleAndActivityPartial" model="@Model" />
}

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-assignments">
        <div class="col-sm-12">
            @if (Model.ModuleList != null && Model.AssignmentList != null)
            {
                <partial name="TeacherAssignmentPartial" model="@Model.AssignmentList" />
            }
        </div>
    </div>
</div>
