@model TeacherHomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Courses-->
<partial name="TeacherCourseListPartial" model="@Model.Courses"/>
